*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/* .background-image{
    background-image: url("C:/VSCodeWorkspace/PROJECT/img/ArtistiK_Artwork.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}