*{
   margin : 0;
   font-family: Arial, Helvetica, sans-serif;
   border: border-box; 
}

.navbar{
    height: 60px;
    background-image: url("C:/VSCodeWorkspace/PROJECT/img/ArtistiK_Artwork.png");
    background-color: black;
    color: aliceblue;
}